@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-secondary: #60a5fa;
  --color-tertiary: #93c5fd;
  --bg: #ffffff;
  --bgSecondary: #c2c1c1;
  --text: #1f2937;
  --border-radius: 0.5rem;
  --font: system-ui, sans-serif;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

::-webkit-scrollbar{
  display: none;
}

.input {
  @apply w-full px-3 py-3 border rounded-[var(--border-radius)] bg-transparent placeholder-[var(--text)] text-[var(--text)] focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)] md:text-lg;
  border-color: var(--color-secondary);
}
